body {
    margin: 0;
    background: linear-gradient(to right top,#65dfc9,#6cddeb);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
      margin-top: 0;
      max-width:none;
      overflow: hidden;
      background-color: whitesmoke;
  
  }
  
  
  .topnav a {
      margin-top: 10px;
    float: left;
    color:black;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px grey;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(204, 221, 51);
    color: black;
  }
  footer {
    position: absolute;
    margin-top :auto;
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: chocolate;
    color: black;
    text-align: center;
  }
  footer p{
      background-color: chocolate;
      text-align: center;
      text-decoration: darkblue;
  }
  .contact{
      margin-left: 6%;
      text-align: center;
  }
  .contact input{
      padding: 5px;
      background: linear-gradient(rgba(255,255,255,0.5));
      border-radius: 30px;
      font-size: 16px;
  }
  .glass {
      background: white;
      min-height: 70vh;
      margin-left: 35%;
      width: 30%;
      margin-right: 1%;
      background: linear-gradient(to right bottom, 
      rgba(255, 255, 255, 0.7),rgba(255,255,255,0.3));
      border-radius: 2rem;
      z-index: 2;
      backdrop-filter: blur(2rem);
  }
  h1{
    font-weight:800;
  }
